<div class="my-cart">
    <form class="order-form" action="">
      <h1 class="title">My Cart</h1>
      

      <div class="total-container">
        <div class="item-content bold">
          <div class="content-left">Sub Total</div>
          <div class="content-right">
            ₹50
          </div>
        </div>
        <div class="item-content">
          <div class="content-left">Delivery Charges ₹50</div>
          
        </div>
        <div class="item-content">
          <div class="content-left">Coupon (SUPER)</div>
          <div class="content-right">-₹50</div>
        </div>
        <div class="item-content bold">
          <div class="content-left">Grand Total</div>
          <div class="content-right">
            ₹500
          </div>
        </div>
      </div>
      <div class="form-field">
        <button class="btn btn-block align-middle d-flex justify-content-center d-flex align-items-center text-white" style="background-color: rgb(255, 131, 29);" type="submit">PAY NOW</button>
      </div>
    </form>
  </div>